---
import Layout from "../layouts/Layout.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import HomeSlider from "../components/HomeSlider.astro";
import Arrow from "../components/Arrow.astro";
import ReviewsSlider from "../components/ReviewsSlider.astro";
import BlogElements from '../components/BlogElements.astro'
import Marquee from "../components/Marquee.astro"
import Services from '../components/Services.astro'
import Partners from "../components/Partners.astro";
import {getStaticPaths} from '../contentful/mainPage'

const {paths} = await getStaticPaths()
const {lang} = Astro.params;

const currentLang = lang || 'en-US';
const pageElems = paths
  .filter((path:any) => path.params.locale === currentLang)
  .map((path:any) => path.props.element)[0];


  const {title, impactTitle,impactDescription,impactDescriptionLogistic,newsFeaturesTitle, newsFeaturesDescription, whatTheySaysTitle,whatTheySaysDescription, filterButtons, partnershipTitle, partnershipDescriptionFirst, partnershipDescriptionSecond, letsWorkTogether, geography, geographyDescription,medicineHelp, humanitarian, geoText} = pageElems

  
const geoArr: any[] = geoText

---

<Layout>
	<section class="hero">
		<div class="container">
			<h1>{title}</h1>
			<div class="lang"><LanguageSwitcher /></div>
		</div>
	</section>

	<section class="hero-slider">
		<div class="container">
			<HomeSlider />
		</div>
	</section>

	<section class="about">
		<div class="container">
			<div class="about__info">
				<h2 class="section__title">{impactTitle}</h2>
				<div class="section__text">
					<p>
						{impactDescription}
					</p>
					<p>
						{impactDescriptionLogistic}
					</p>
				</div>
			</div>
			<Services/>
		</div>
	</section>

	<Marquee/>

	<section class="news">
		<div class="container">
			<h2 class="section__title">{newsFeaturesTitle}</h2>
			<div class="section__text">
				<p>
					{newsFeaturesDescription}
				</p>
			</div>

			<div class="news-list">
				<BlogElements arrLen={3}/>
			</div>

			<a href=`/${lang}/blog` class="btn-link yellow">
				Переглянути всі новини
				<Arrow />
			</a>
		</div>
	</section>

	<section class="reviews">
		<div class="container">
			<h2 class="section__title">{whatTheySaysTitle}</h2>
			<div class="section__text">
				<p>
					{whatTheySaysDescription}
				</p>
			</div>
		</div>

		<ReviewsSlider buttons={filterButtons}/>
	</section>

	<section class="partnership">
		<div class="container">
			<div class="partnership-info">
				<h2 class="section__title">{partnershipTitle}</h2>
				<div class="section__text">
					<p>
						{partnershipDescriptionFirst}
					</p>
					<p>
						<strong>
							{partnershipDescriptionSecond}
						</strong>
					</p>
				</div>
				<a href="" class="btn-link blue">
					{letsWorkTogether}
					<Arrow />
				</a>
			</div>
			<Partners/>
		</div>
	</section>

	<section class="geo">
		<div class="container">
			<div class="geo-history">
				<div class="logo">
					<svg
						width="66"
						height="67"
						viewBox="0 0 66 67"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M28.227 4.31062C30.0067 -0.441431 36.7323 -0.441431 38.512 4.31062L45.0317 21.7146L62.4357 28.2343C67.1877 30.0141 67.1877 36.7396 62.4357 38.5193L45.0377 45.0451L38.5181 62.4491C36.7383 67.2011 30.0128 67.2011 28.233 62.4491L21.7073 45.0451L4.3033 38.5254C-0.448755 36.7456 -0.448755 30.0201 4.3033 28.2404L21.7073 21.7207L28.227 4.31062ZM33.3725 7.44031L27.1797 23.9666C26.6228 25.4557 25.4484 26.6241 23.9653 27.181L7.43904 33.3738L23.9653 39.5666C25.4545 40.1235 26.6228 41.2979 27.1797 42.781L33.3725 59.3073L39.5653 42.781C40.1222 41.2919 41.2966 40.1235 42.7798 39.5666L59.306 33.3738L42.7798 27.181C41.2906 26.6241 40.1222 25.4497 39.5653 23.9666L33.3725 7.44031Z"
							fill="white"></path>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M11.513 20.4917C11.9852 20.3343 12.3 19.8984 12.3726 19.4081C12.9054 15.8062 15.7082 12.9429 19.2798 12.3133C19.7459 12.2286 20.1575 11.9259 20.3149 11.484L21.7375 7.53705C21.9857 6.85299 21.4772 6.13867 20.7568 6.13867C12.7359 6.13867 6.22827 12.6463 6.22827 20.6672C6.22827 21.4602 7.00918 22.0172 7.75982 21.7629L11.513 20.4917Z"
							fill="#FFD600"></path>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M55.0987 20.4917C54.6265 20.3343 54.3118 19.8984 54.2391 19.4081C53.7064 15.8062 50.9036 12.9429 47.332 12.3133C46.8659 12.2286 46.4542 11.9259 46.2968 11.484L44.8742 7.53705C44.6261 6.85299 45.1345 6.13867 45.8549 6.13867C53.8759 6.13867 60.3835 12.6463 60.3835 20.6672C60.3835 21.4602 59.6026 22.0172 58.8519 21.7629L55.0987 20.4917Z"
							fill="#FFD600"></path>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M11.513 46.0622C11.9852 46.2196 12.3 46.6555 12.3726 47.1458C12.9054 50.7477 15.7082 53.611 19.2798 54.2406C19.7459 54.3254 20.1575 54.628 20.3149 55.07L21.7375 59.0229C21.9857 59.707 21.4772 60.4213 20.7568 60.4213C12.7359 60.4213 6.22827 53.9198 6.22827 45.8928C6.22827 45.0997 7.00918 44.5428 7.75982 44.7971L11.513 46.0622Z"
							fill="#FFD600"></path>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M55.0987 46.0622C54.6265 46.2196 54.3118 46.6555 54.2391 47.1458C53.7064 50.7477 50.9036 53.611 47.332 54.2406C46.8659 54.3254 46.4542 54.628 46.2968 55.07L44.8742 59.0229C44.6261 59.707 45.1345 60.4213 45.8549 60.4213C53.8759 60.4213 60.3835 53.9198 60.3835 45.8928C60.3835 45.0997 59.6026 44.5428 58.8519 44.7971L55.0987 46.0622Z"
							fill="#FFD600"></path>
					</svg>
				</div>
				<div class="history">
					<div class="medicine">{medicineHelp}</div>
					<div class="humanitarian">{humanitarian}</div>
				</div>
			</div>
			<h2 class="section__title">Stellar Ukraine {geography}</h2>
			<div class="section__text">
				<p>
					{geographyDescription}
				</p>
			</div>
			<div class="geo-numbers">
				{geoArr?.map((entry) => {
					const textArr = entry.split('|')
					return (
						<div class="geo-numbers__item">
							<div class="geo-numbers__num yellow">{textArr[0]}</div>
							<p>{textArr[1]}</p>
						</div>		
					)
				})}
			</div>
			<a
				href="mailto:volunteer@stellarua.org"
				class="social-link social-link--mob"
			>
				<svg
					width="26"
					height="21"
					viewBox="0 0 26 21"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<g clip-path="url(#clip0_192_2797)">
						<path
							d="M26 2.47509C26 1.11353 24.8629 0.00976562 23.4603 0.00976562H2.53968C1.13705 0.00976562 0 1.11353 0 2.47509V18.5444C0 19.906 1.13705 21.0098 2.53968 21.0098H23.4603C24.8629 21.0098 26 19.906 26 18.5444V2.47509ZM2.55329 1.97991H23.4802C23.7603 1.97991 23.9858 2.19675 23.9858 2.46866V2.49005L13.3754 12.7909C13.246 12.9165 13.0955 12.9353 13.0169 12.9353C12.9383 12.9353 12.7873 12.9165 12.6578 12.7909L2.04494 2.48865V2.46866C2.04494 2.19675 2.27321 1.97991 2.55329 1.97991ZM23.4802 19.0396H2.55329C2.27321 19.0396 2.04494 18.8145 2.04494 18.5426V5.27784L11.2215 14.1855C11.7011 14.6512 12.339 14.9076 13.0174 14.9076C13.6958 14.9075 14.3324 14.6511 14.8121 14.1855L23.9858 5.27923V18.5426C23.9858 18.8145 23.7603 19.0396 23.4802 19.0396Z"
							fill="currentColor"></path>
					</g>
					<defs>
						<clipPath id="clip0_192_2797">
							<rect
								width="26"
								height="21"
								fill="currentColor"
								transform="translate(0 0.00976562)"></rect>
						</clipPath>
					</defs>
				</svg>

				volunteer@stellarua.org
			</a>
			<a
				href="https://www.instagram.com/stellar.ukraine/"
				class="social-link social-link--mob"
				target="_blank"
			>
				<svg
					width="26"
					height="26"
					viewBox="0 0 26 26"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M19 0.00976562H7C3.14 0.00976562 0 3.14977 0 7.00977V19.0098C0 22.8698 3.14 26.0098 7 26.0098H19C22.86 26.0098 26 22.8698 26 19.0098V7.00977C26 3.14977 22.86 0.00976562 19 0.00976562ZM24 19.0098C24 21.7668 21.757 24.0098 19 24.0098H7C4.243 24.0098 2 21.7668 2 19.0098V7.00977C2 4.25277 4.243 2.00977 7 2.00977H19C21.757 2.00977 24 4.25277 24 7.00977V19.0098ZM13 7.00977C9.691 7.00977 7 9.70077 7 13.0098C7 16.3188 9.691 19.0098 13 19.0098C16.309 19.0098 19 16.3188 19 13.0098C19 9.70077 16.309 7.00977 13 7.00977ZM13 17.0098C10.794 17.0098 9 15.2158 9 13.0098C9 10.8038 10.794 9.00977 13 9.00977C15.206 9.00977 17 10.8038 17 13.0098C17 15.2158 15.206 17.0098 13 17.0098ZM21 6.50977C21 7.33777 20.328 8.00977 19.5 8.00977C18.672 8.00977 18 7.33777 18 6.50977C18 5.68177 18.672 5.00977 19.5 5.00977C20.328 5.00977 21 5.68177 21 6.50977Z"
						fill="currentColor"></path>
				</svg>

				@StellarUA
			</a>
			<a href="tel:+380938912989" class="phone-link social-link--mob"
				>+38 (093) 891 29 89</a
			>
			<p class="address">UA 79000 Lviv, Chervonoj Kalyny ave., 58</p>
		</div>
	</section>
</Layout>


<style>
	.hero {
		background: #073abe;
		color: #fff;
		padding: 255px 0 140px;
		margin-bottom: -80px;
	}
	.hero .container {
		display: flex;
		align-items: end;
		justify-content: space-between;
	}
	.hero h1 {
		width: 80%;
		max-width: 726px;
	}

	.about {
		padding: 90px 0;
	}

	.about .container,
	.partnership .container {
		display: grid;
		grid-template-columns: 1fr 1.2222fr;
		gap: 40px;
	}

	.about__info .section__title,
	.about__info .section__text {
		max-width: 425px;
	}

	.partnership-info .section__text,
	.partnership-info .section__title {
		max-width: 380px;
	}

	.aims {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 60px;

		list-style: none;
		margin: 0;
		padding: 0;
	}

	.aims__item img {
		width: 60px;
		height: 60px;
	}

	.aims__item h3 {
		line-height: 1em;
		margin: 24px 0;
	}

	.numbers {
		width: 100%;
		display: flex;
		white-space: nowrap;
		overflow: hidden;
		margin-bottom: 40px;
	}

	.numbers .marquee {
		font-size: 64px;
		line-height: 1.6em;
		font-weight: 700;
		margin-right: 0.25em;

		-webkit-animation: numbers-marquee 20s linear infinite;
		-moz-animation: numbers-marquee 20s linear infinite;
		-o-animation: numbers-marquee 20s linear infinite;
		animation: numbers-marquee 20s linear infinite;

		margin-bottom: 0;
	}

	.news {
		background: url(/images/news-bg.svg), #000;
		background-repeat: no-repeat;
		background-position: top right;
		padding: 90px 0;
	}
	.news .section__title {
		color: #fff;
	}
	.news .section__text {
		color: #979797;
	}

	.news-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 60px;
		margin: 60px 0;
	}

	.reviews {
		padding: 90px 0 60px;
	}

	.partnership {
		padding: 0 0 60px;
	}

	.partnership .container{
		align-items: center;
	}
	.partnership__img {
		border-radius: 10px;
		box-shadow: 0px 4px 58.5px 0px #d6d6d6;
		padding: 60px 80px;
	}

	.geo {
		padding: 90px 0;
		background: url(/images/map.svg), #073abe;
		color: #fff;
		background-repeat: no-repeat;
		background-position: top 150px right 90px;
		background-size: 70.83333vw auto;
	}
	.geo .section__title {
		max-width: 460px;
	}
	.geo .container {
		position: relative;
	}
	.geo-history {
		display: flex;
		align-items: center;
		gap: 20px;
		position: absolute;
		right: 30px;
		top: 65px;
	}
	.geo-history .history div {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.geo-history .history div::before {
		content: "";
		display: block;
		width: 16px;
		min-width: 16px;
		height: 16px;
		background: #fff;
	}
	.geo-history .history .humanitarian::before {
		background: #ffd600;
	}
	.geo .section__text {
		color: #fff;
	}

	.geo-numbers {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 60px;
		max-width: 636px;
		padding: 15px 0 30px;
		margin: 90px 0;

		font-family: "e-ukraine_head";
		font-weight: 700;
		font-size: 24px;
		line-height: 1.225em;
	}

	.geo-numbers__num {
		font-size: 48px;
		line-height: 1.225em;
		margin-bottom: 40px;
	}

	.geo .social-link {
		display: flex;
		align-items: center;
		gap: 16px;
		margin-bottom: 16px;
	}

	.geo .phone-link {
		font-size: 24px;
		line-height: 1.8em;
		font-weight: 700;
		margin-top: 40px;
		display: inline-block;
	}

	.geo .address {
		color: #5a88ff;
	}

	@media (max-width: 768px) {
		body {
			text-align: center;
		}
		.hero {
			padding-top: 174px;
		}
		.hero .lang {
			display: none;
		}
		.hero .container {
			justify-content: center;
		}
		.about .container,
		.partnership .container,
		.news-list,
		.geo-numbers,
		.aims {
			grid-template-columns: 1fr;
		}
		.hero-slider {
			position: relative;
		}
		.hero-slider::before {
			content: "";
			position: absolute;
			top: 30px;
			left: 0;
			right: 0;
			bottom: 20px;
			background: #000;
		}
		.about {
			padding: 30px 0;
		}
		.about__info .section__title,
		.about__info .section__text {
			width: 100%;
			color: #000;
		}
		.partnership-info .section__title,
		.about__info .section__title {
			margin-left: auto;
			margin-right: auto;
		}
		.aims {
			gap: 30px;
		}
		.aims__item h3 {
			margin: 10px 0 20px;
		}
		.numbers {
			margin-bottom: 0;
		}
		.numbers .marquee {
			font-size: 40px;
		}
		.news {
			padding: 40px 0 30px;
		}
		.news-list {
			margin: 30px 0;
			gap: 30px;
		}
		.news a.btn-link {
			justify-content: center;
		}
		.reviews {
			padding: 30px 0;
			position: relative;
		}
		.reviews::after {
			content: "";
			display: block;
			width: 30px;
			height: 2px;
			background: #979797;
			margin: 5px auto 0;
		}

		.partnership .section__text {
			color: #000;
		}
		.partnership__img {
			box-shadow: none;
			padding: 10px;
		}
		.partnership {
			position: relative;
			padding: 0 0 80px;
		}
		.partnership a.btn-link {
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			margin: auto;
		}
		.geo {
			background: #073abe;
			padding: 40px 0;
		}
		.geo .section__title {
			margin-left: auto;
			margin-right: auto;
		}
		.geo-history {
			position: static;
			margin-bottom: 30px;
			justify-content: center;
		}
		.geo-history .history {
			display: none;
		}
		.geo .section__text,
		.geo .section__text p {
			margin-bottom: 0;
		}
		.geo-numbers {
			margin: 0;
			padding: 0 0 30px;
			gap: 20px;
			position: relative;
			max-width: 100%;
		}
		.geo-numbers::after {
			content: "";
			display: block;
			width: 30px;
			height: 2px;
			background: #5a88ff;
			margin: 15px auto 0;
		}
		.geo-numbers__num {
			margin-bottom: 10px;
		}
		.social-link--mob {
			border: 1px solid #2253d1;
			height: 44px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 12px;
			border-radius: 6px;
		}
		.geo .phone-link {
			font-size: 20px;
			font-weight: 400;
			line-height: 44px;
			margin-top: 0;
			margin-bottom: 30px;
		}
	}

	@media (min-width: 1440px) {
		.geo {
			background-size: 1020px auto;
			background-position: center right calc(50vw - 600px);
		}
		.geo-history {
			top: 95px;
		}
	}
	@keyframes numbers-marquee {
		0% {
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		100% {
			-webkit-transform: translate3d(-100%, 0, 0);
			-moz-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0);
		}
	}
</style>
