---
import {getStaticPaths} from '../contentful/careers'
import VacancyTab from '../layouts/VacancyTab.astro'

const { paths } = await getStaticPaths();
const {lang} = Astro.params;
const currentLang = lang || 'en-US';
const vacancies = paths
  .filter((path:any) => path.props.locale === currentLang)
  .map((path:any) => path.props.vacancy);

---

<div>
{
    vacancies.map(
        (entry:any) => 
            <VacancyTab
                title={entry.career}
                jobType={entry.employmentForm}
                location={entry.city}
                link={'#'}
            >
                <article set:html={entry.description} />
            </VacancyTab>
        
        )
}
</div>

<script type="module">
    const tabBtns = document.querySelectorAll(".tab__btn");
    tabBtns.forEach((btn) => {
    btn.addEventListener("click", (e) => {
        e.target.closest(".tab").classList.toggle("active");
    });
});