---
import { contentfulClient } from "../contentful/contentful";
import Arrow from "./Arrow.astro";
import BannerSlide from "./BannerSlide.astro";
import {type MainPageSlider} from '../contentful/types'
import {getStaticPaths} from '../contentful/blogElements'

const { paths } = await getStaticPaths();
const {lang} = Astro.params;

const currentLang = lang || 'en-US';
const sliderArr: MainPageSlider['fields'][] = paths
  .filter((path:any) => path.params.locale === currentLang && path.props.post?.featured)
  .map((path:any) => path.props.post);

---


<div id="homeSlider" class="swiper">
    <div class="swiper-wrapper" data-cursor="swipe">
        {
            sliderArr.map((card:any) => (
                <BannerSlide
                    title={card.description}
                    link={'#'}
                    image={card?.photo?.fields.file.url}
                    description={card.description}
                />
            ))
        }
        
    </div>
    <div class="su-slider__arrows banner-arrows">
        <button class="btn su-slider__arrow banner__arrow prev">
            <Arrow />
        </button>
        <button class="btn su-slider__arrow banner__arrow next">
            <Arrow />
        </button>
    </div>
</div>

<script type="module" define:vars={{ sliderArr }}>
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';
    
    const textDiv = document.getElementById('titleSlide');

    const swiper = new Swiper("#homeSlider", {
        slidesPerView: 1,
        spaceBetween: 60,
        // effect: 'fade',
        autoplay: true,
        speed: 4000,
        loop: true,
        navigation: {
            nextEl: ".banner__arrow.next",
            prevEl: ".banner__arrow.prev",
        },
        hashNavigation: true,
        on: {
            init: function (entry) {
                textDiv.textContent = sliderArr[entry.realIndex].title;
            },
        },
    });
    swiper.on('slideChange', () => {
        textDiv.textContent = sliderArr[swiper.realIndex].title;
    })
</script>
    
<style>
    .banner-arrows {
        margin: 30px auto 0;
    }
    .banner__arrow {
        background: #ffd600;
        color: #000;
    }
    .banner__arrow:hover {
        background: #FFE249;
    }
    .banner__arrow:active {
        background: #FFC513;
    }
    .banner__arrow.prev {
        border-radius: 6px;
    }
    .banner__arrow.next {
        border-radius: 6px;
    }
    @media (min-width: 769px) {
        .banner-arrows {
            position: absolute;
            bottom: 0;
            left: calc(50% + 30px);
            z-index: 2;

            margin: 0;
        }
        .banner__arrow.prev {
            border-radius: 6px 0 0 0;
        }
        .banner__arrow.next {
            border-radius: 0 6px 0 0;
        }
    }
    @media (min-width: 990px) {
        .banner-arrows {
            left: calc(50% + 60px);
        }
    }
</style>