---
const {lang} = Astro.params
---

<ul lang={lang} class="language-switcher">
    <li id="uaBtn" class={lang === "uk-UA" ? "active" : ""}>UA</li>
    <li id="enBtn" class={!lang ? "active" : ""}>ENG</li>
</ul>

<script is:inline>
    if (typeof languageSwitcher === 'undefined') {
        const languageSwitcher = document.querySelector('ul');
        const buttons = document.querySelectorAll('li');

        const changeLang = (newLang) => {
            const url = new URL(window.location.href);
            const currentLang = languageSwitcher?.getAttribute('lang');

            if (newLang) {
                if (currentLang) {
                    url.pathname = url.pathname.replace(`/${currentLang}`, `/${newLang}`);
                } else {
                    url.pathname = `/${newLang}${url.pathname}`;
                }
            } else {
                if (currentLang) {
                    url.pathname = url.pathname.replace(`/${currentLang}`, '');
                }
            }

            window.location.href = url.toString();
        };

        buttons.forEach((button) => {
            if (button.id === 'uaBtn') {
                button.addEventListener('click', () => {
                    changeLang('uk-UA');
                });
            } else if (button.id === 'enBtn') {
                button.addEventListener('click', () => {
                    changeLang('');
                });
            }
        });
    }
</script>

<style>
    .language-switcher {
        display: flex;
        align-items: baseline;
        gap: 0.5em;

        list-style: none;
        padding: 0;
        margin: 0;
    }
    .language-switcher li {
        font-weight: 400;
        line-height: 25.6px;
        color: #3B66D4;
        transition: 0.5s ease;
        cursor: pointer;
    }
    .language-switcher li:hover,
    .language-switcher li.active {
        color: #FFD600;
    }
</style>

