---

import {getStaticPaths} from '../contentful/partners' 

const { paths } = await getStaticPaths();
const {lang} = Astro.params;

const currentLang = lang || 'en-US';
const partners = paths
  .filter((path:any) => path.params.locale === currentLang)
  .map((path:any) => path.props.element);

---


<div class="partnership-stand grid-container">
    {
        partners.map((entry) =>
            <a href={entry.link} target="_blank">
                <div class="partnership__img">
                    <img class="partn_logo" src={entry.img.fields.file.url} alt={entry.description} />
                </div>
            </a>
        )
    }
</div>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
		box-shadow: 0px 4px 58.5px 0px #d6d6d6;
		border-radius: 10px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .partnership__img {
        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; */
		padding: 20px;
        /* width: 150px;
        height: 150px; */
	}
    @media (max-width: 768px) {
        .partnership__img {
			box-shadow: none;
			padding: 10px;
		}
    }

</style>