---
interface Props {
  name: any
  company: any
  avatar: any
  review: any
  filterTag:any
}

const { name, company, avatar, review, filterTag } = Astro.props
---

<div class="swiper-slide review-card" data-filter={filterTag}>
    <div class="review-card__header">
        <img src={avatar} alt={name} class="review-author__img">
        <div class="review-author__info">
            <span class="review-author__name">{name}</span>
            <span class="review-author__company">{company}</span>
        </div>
    </div>
    <div class="review-card__text">{review}</div> 
</div>
