---
import Layout from "../../layouts/Layout.astro";
import News from "../../components/News.astro";
import {locales} from '../../contentful/configData'
import type { DonatePage } from "../../contentful/types";
import { contentfulClient } from "../../contentful/contentful";
import Marquee from "../../components/Marquee.astro";

export async function getStaticPaths() {

    let paths:any = [];

    for (const locale of locales) {
    const { items } = await contentfulClient.getEntries<DonatePage>({
        content_type: 'donatePage',
        locale,
    });

    
    items.forEach((item: any) => {
        paths.push({
        params: { lang: locale === 'uk' ? 'uk-UA' : locale },
        props: {
            ...item.fields
        },
        });
    });
    }
    return paths;
}


const props = Astro.props;

const {title,firstText,howToDonate,secondText,forDonations,forForeignersButton,forLocalsButton,transferText, ibanUsd, accountUsd, ibanEur, accountEur}:any = props

let words = title?.split(' ');
let firstWord = words.shift();
let remainingWords = words.join(' ');


---

<Layout headerType="alternate">
    <section class="hero">
        <div class="container text-center">
            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.4871 9.49133C32.049 5.32092 37.9513 5.32092 39.5132 9.49133L45.2349 24.7651L60.5087 30.4868C64.6791 32.0487 64.6791 37.9511 60.5087 39.513L45.2402 45.24L39.5185 60.5138C37.9566 64.6842 32.0543 64.6842 30.4924 60.5138L24.7654 45.24L9.49158 39.5183C5.32117 37.9564 5.32117 32.054 9.49158 30.4921L24.7654 24.7704L30.4871 9.49133ZM35.0028 12.238L29.568 26.7414C29.0792 28.0483 28.0486 29.0737 26.747 29.5624L12.2435 34.9972L26.747 40.432C28.0539 40.9208 29.0792 41.9515 29.568 43.2531L35.0028 57.7565L40.4376 43.2531C40.9264 41.9461 41.957 40.9208 43.2586 40.432L57.7621 34.9972L43.2586 29.5624C41.9517 29.0737 40.9264 28.043 40.4376 26.7414L35.0028 12.238Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8191 23.6919C16.2335 23.5538 16.5097 23.1713 16.5735 22.741C17.041 19.58 19.5007 17.0671 22.6352 16.5146C23.0442 16.4402 23.4055 16.1746 23.5436 15.7867L24.7921 12.3229C25.0099 11.7226 24.5636 11.0957 23.9314 11.0957C16.8922 11.0957 11.1812 16.8068 11.1812 23.846C11.1812 24.5419 11.8665 25.0307 12.5252 24.8076L15.8191 23.6919Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M54.0699 23.6919C53.6556 23.5538 53.3793 23.1713 53.3155 22.741C52.848 19.58 50.3883 17.0671 47.2538 16.5146C46.8448 16.4402 46.4835 16.1746 46.3454 15.7867L45.0969 12.3229C44.8791 11.7226 45.3254 11.0957 45.9576 11.0957C52.9968 11.0957 58.7079 16.8068 58.7079 23.846C58.7079 24.5419 58.0225 25.0307 57.3638 24.8076L54.0699 23.6919Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8191 46.1324C16.2335 46.2706 16.5097 46.6531 16.5735 47.0834C17.041 50.2444 19.5007 52.7573 22.6352 53.3098C23.0442 53.3842 23.4055 53.6498 23.5436 54.0376L24.7921 57.5068C25.0099 58.1071 24.5636 58.734 23.9314 58.734C16.8922 58.734 11.1812 53.0282 11.1812 45.9837C11.1812 45.2877 11.8665 44.799 12.5252 45.0221L15.8191 46.1324Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M54.0699 46.1324C53.6556 46.2706 53.3793 46.6531 53.3155 47.0834C52.848 50.2444 50.3883 52.7573 47.2538 53.3098C46.8448 53.3842 46.4835 53.6498 46.3454 54.0376L45.0969 57.5068C44.8791 58.1071 45.3254 58.734 45.9576 58.734C52.9968 58.734 58.7079 53.0282 58.7079 45.9837C58.7079 45.2877 58.0225 44.799 57.3638 45.0221L54.0699 46.1324Z" fill="black"/>
            </svg>                
            <h1 class="section__title">{firstWord}<br/>{remainingWords}</h1>
            <div class="section__text">
                <p>
                    {firstText}
                </p>
            </div>
        </div>
    </section>
    <section class="transfer">
        <div class="container text-center">
            <h2 class="section__title">{howToDonate}</h2>
            <div class="section__text">
                <p>
                    {secondText}
                </p>
            </div>

            <!-- <div class="transfer-btns">
                <button class="btn transfer__btn selected" data-target="foreigners">{forForeignersButton}</button>
                <button class="btn transfer__btn" data-target="locals">{forLocalsButton}</button>
            </div> -->

            <div class="transfer-note">
                <p>{forDonations}</p>
                <div class="transfer-systems">
                    <img src="/images/wise.png" width="140" height="58" alt="Wise">
                    <img src="/images/transferGo.png" width="174" height="47" alt="transferGo">
                    <img src="/images/swift.png" width="110" height="38" alt="Swift">
                </div>
            </div>

            <div class="transfer-tabs">
                <div class="foreigners active">
                    <div class="transfer-details">
                        <div class="transfer-details__row">
                            <div class="transfer-details__title">BENEFICIAR</div>
                            <div class="transfer-details__info">Charitable Organization Charitable Foundation "Stellar Ukraine" <i class="icon-copy"></i></div>
                        </div>
                        <div class="divider"></div>
                        <div class="transfer-details__row">
                            <div class="transfer-details__title"><strong>$ USD</strong></div>
                        </div>
                        <div class="transfer-details__row">
                            <div class="transfer-details__title">IBAN</div>
                            <div class="transfer-details__info">{ibanUsd}<i class="icon-copy"></i></div>
                        </div>
                        <div class="transfer-details__row">
                            <div class="transfer-details__title">ACCOUNT #</div>
                            <div class="transfer-details__info">{accountUsd} <i class="icon-copy"></i></div>
                        </div>
                        <div class="divider"></div>
                        <div class="transfer-details__row">
                            <div class="transfer-details__title"><strong>€ EUR</strong></div>
                        </div>
                        <div class="transfer-details__row">
                            <div class="transfer-details__title">IBAN</div>
                            <div class="transfer-details__info">{ibanEur}<i class="icon-copy"></i></div>
                        </div>
                        <div class="transfer-details__row">
                            <div class="transfer-details__title">ACCOUNT #</div>
                            <div class="transfer-details__info">{accountEur} <i class="icon-copy"></i></div>
                        </div>
                        <div class="divider"></div>
                        <div class="transfer-details__row">
                            <div class="transfer-details__title">RECIEVER</div>
                            <div class="transfer-details__info">UA 79000, Lviv, Chervonoyi Kalyny ave., 58 <i class="icon-copy"></i></div>
                        </div>
                        <div class="divider"></div>
                        <div class="transfer-details__row">
                            <div class="transfer-details__title">SWIFT CODE</div>
                            <div class="transfer-details__info">PBANUA2X <i class="icon-copy"></i></div>
                        </div>
                        <div class="divider"></div>
                    </div>                    
                </div>
                <div class="locals">
                    
                </div>
            </div>
            
            <div class="transfer-text">
                <p>
                    {transferText}
                </p>
            </div>
        </div>
    </section>

    <Marquee/>

    <section class="news">
        <div class="container">
            <h2 class="section__title">News & features</h2>
            <div class="section__text">
                <p>
                    Discover the latest updates and inspiring stories showcasing
                    the positive impact of your support.
                </p>
            </div>
        </div>

        <div class="news-wrapper">
            <div class="container">
                <News />
            </div>
        </div>
    </section>
</Layout>

<script is:inline>
    const copyBtns = document.querySelectorAll(".transfer-details__info");
    copyBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            var copyText = btn.textContent;
            navigator.clipboard.writeText(copyText);
        });
    });
</script>

<style>
    .hero {
        background: url(/images/ua-ornament.png), #FFD600;
        background-position: center bottom 40px;
        background-repeat: repeat-x;
        color: #000;
        padding: 114px 0 182px;
        margin-bottom: 40px;
    }
    .hero .container {
        max-width: 860px;
        text-align: center;
    }
    .hero .section__text {
        font-size: 16px;
        line-height: 1.6em;
        max-width: 100%;
        margin-bottom: 0;
    }

    .hero h1 {
        font-size: 24px;
        line-height: 1.4em;
        margin-top: 20px;
    }

    .hero .section__text p:last-child {
        margin-bottom: 0;
    }

    .transfer-btns {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        margin: 30px auto;
    }
    .transfer-note p {
        color: #979797;
        margin-bottom: 20px;
    }
    .transfer-systems {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 40px;
    }
    .transfer-systems img {
        width: unset;
    }
    .transfer-systems img:last-child {
        margin-top: 10px;
    }
    .transfer-details {
        margin: 30px auto 30px;
    }
    .transfer-details .divider {
        margin: 30px;
        position: relative;
        display: grid;
    }
    .transfer-details .divider::before {
        content: '';
        /* position: absolute; */
        width: 21px;
        height: 1px;
        background: #ded9d1;
        margin: auto;
    }
    .transfer-details__row {
        font-size: 14px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
    }
    .transfer-details__row + .transfer-details__row {
        margin-top: 10px;
    }
    .transfer-details__title {
        line-height: 1.8em;
        color: #A18458;
    }
    .transfer-details__info {
        cursor: pointer;
    }
    .transfer-details__row .icon-copy {
        display: inline-block;
        width: 27px;
        height: 26px;
        mix-blend-mode: multiply;
        background: url(/images/icon-copy.png);
        vertical-align: bottom;
    }
    .transfer .container {
        max-width: 670px;
    }
    .transfer .section__text {
        max-width: 487px;
        margin: 0 auto;
    }
    .transfer-text {
        color: #a18458;
        max-width: 487px;
        margin: 0 auto 30px;
        font-size: 14px;
    }
    .numbers {
		width: 100%;
		display: flex;
		white-space: nowrap;
		overflow: hidden;
		margin-bottom: 0;
	}

	.numbers .marquee {
		font-size: 40px;
		line-height: 1.6em;
		font-weight: 700;
		margin-right: 0.25em;

		-webkit-animation: numbers-marquee 20s linear infinite;
		-moz-animation: numbers-marquee 20s linear infinite;
		-o-animation: numbers-marquee 20s linear infinite;
		animation: numbers-marquee 20s linear infinite;
	}
    .news .section__title {
        text-align: center;
    }
    .news .section__text {
        margin: auto;
        color: #979797;
        text-align: center;
    }
    .news-wrapper {
        position: relative;
        padding-bottom: 5px;
    }
    .news-wrapper::before {
        content: "";
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: -5px;
        background: #000;
    }

    @media (min-width: 769px) {
        .hero {
            min-height: calc(100vh - 165px);
            padding: 225px 0 300px;
            margin-bottom: -240px;
            background-position: center bottom 20px;
        }
        .hero h1 {
            font-size: 40px;
        }
        .hero .section__text {
            font-size: 24px;
            line-height: 1.5em;
        }
        .transfer {
            background: #fff;
            padding-top: 60px;
            max-width: 800px;
            margin: auto;
            border-radius: 10px;
        }
        .transfer-btns {
            grid-template-columns: 1fr 1fr;
            max-width: 384px;
            margin: 30px auto 40px;
        }
        .transfer-systems {
            flex-direction: row;
            gap: 10px;
        }
        .transfer-systems img:first-child {
            order: 2;
        }
        .transfer-systems img:nth-child(2) {
            order: 3;
        }
        .transfer-systems img:last-child {
            margin-top: 0;
            order: 1;
        }
        .transfer-text {
            margin: 0 auto 60px;
        }
        .transfer-details .divider {
            margin: 30px 0;
        }
        .transfer-details .divider::before {
            margin: 0 0 0 auto;
        }
        .transfer-details .divider:last-child {
            display: none;
        }
        .transfer-details__row, .transfer-details .divider {
            grid-template-columns: 110px 1fr;
            /* align-items: center; */
            gap: 20px;
        }
        .transfer-details__title {
            text-align: right;
            transform: translateY(1px);
        }
        .transfer-details__info {
            text-align: left;
            line-height: 1.8em;
        }
        .transfer-details {
            margin: 40px auto 60px;
            border-radius: 10px;
            box-shadow: 0px 4px 58.5px 0px #d6d6d6;
            padding: 60px;
        }
        .numbers {
			margin-bottom: 40px;
		}
		.numbers .marquee {
			font-size: 64px;
            margin-bottom: 0;
		}
        .news {
            background: url(/images/news-bg.svg), #000;
            background-repeat: no-repeat;
            background-position: top right;
            padding: 90px 0 0;
        }
        .news .section__title {
            color: #fff;
            text-align: left;
        }
        .news .section__text {
            text-align: left;
            margin: 0;
        }
        .news-wrapper::before {
            content: none;
            top: 60px;
        }
        .news-wrapper .container::after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background: #414141;
            position: relative;
            z-index: 111;
        }

    }
    @keyframes numbers-marquee {
		0% {
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		100% {
			-webkit-transform: translate3d(-100%, 0, 0);
			-moz-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0);
		}
	}
</style>
