---
import Layout from "./Layout.astro";
import DonateNow from "../components/DonateNow.astro";
import News from "../components/News.astro";
import SocialShareBtns from "../components/SocialShareBtns.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import { getStaticPaths } from "../contentful/blogLayout";

import '../styles/article.css';
import "swiper/css/bundle";
import "../styles/reviewsSlider.css";

const { title, description, pubDate, author, photo, photoTitle, sliderPhotos } = Astro.props;

const { paths } = await getStaticPaths();
const {lang} = Astro.params;

const currentLang = lang || 'en-US';
const layoutElem = paths
  .filter((path:any) => path.params.locale === currentLang)
  .map((path:any) => path.props.element)[0];

---

<Layout>
    <article>
        <div class={ photo ? "hero has-image" : "hero" }>
            <div class="container lang-container">
                <div class="lang"><LanguageSwitcher /></div>
            </div>
            <div class="container">
                <p class="section__subtitle"></p>

                <h1 class="section__title text-center">
                    {title}
                </h1>
                <div class="section__text text-center">
                    {description}
                </div>

                <div class="section__footer">
                    <span class="date">
                        <!-- <FormattedDate date={pubDate} /> -->
                        {pubDate}
                    </span>
                    <span>•</span>
                    <span class="share">
                        <svg
                            fill="currentColor"
                            width="14px"
                            height="14px"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M13.52,7.17V2.91a0.63,0.63,0,0,1,1-.51l9.22,7.46a0.61,0.61,0,0,1,0,1L14.5,18.34a0.63,0.63,0,0,1-1-.51V13.88c-5.76,0-10.65,2.57-12.44,7a11.29,11.29,0,0,1-.16-1.82C0.91,12.5,6.55,7.17,13.52,7.17Z"
                            ></path>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="hero-img container">
                <figure>
                    <img
                        src={photo}
                        alt=""
                    />
                    <figcaption>
                        {photoTitle}
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="article-main">
            <div class="container">
                <div class="rte">
                    <slot name="first"/>
                </div>
                <div class="article-gallery">
                    <div class="swiper galleryMain">
                        <div class="swiper-wrapper">
                            {sliderPhotos?.map((entry: any) => 
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src={entry?.fields?.file.url}
                                    />
                                    <figcaption>
                                        {entry?.fields.title}
                                    </figcaption>
                                </figure>
                            </div>
                            )}
                        </div>
                    </div>
                    <div class="swiper galleryThumbs">
                        <div class="swiper-wrapper">
                            {sliderPhotos?.map((entry: any) => 
                                <div class="swiper-slide">
                                    <figure>
                                        <img
                                            src={entry?.fields?.file.url}
                                        />
                                    </figure>
                                </div>
                                )}
                        </div>
                    </div>

                    <!-- Initialize Swiper -->
                </div>
                <div class="rte">
                    <slot name="second"/>
                </div>
                <div class="rte article-footer">
                    <SocialShareBtns />
        
                    <p class="gray">
                        <span class="date">
                            <!-- <FormattedDate date={pubDate}> -->
                             {pubDate}
                                </span> {layoutElem.by} <span
                            class="author">{author}</span
                        >
                    </p>
                </div>
            </div>
        </div>
    </article>
    <DonateNow />
    <section class="news">
        <div class="container">
            <h2 class="section__title text-center">{layoutElem.relatedArticles}</h2>
            <div class="section__text text-center">
                <p>
                    {layoutElem.relatedArticlesDescription}
                </p>
            </div>
        </div>

        <div class="news-wrapper">
            <div class="container">
                <News/>
            </div>
        </div>
    </section>
</Layout>

<style>
    figure {
        margin: 60px 0
    }
    .hero .lang-container {
		display: flex;
        flex-direction: row;
		justify-content: flex-end;

	}
    @media screen and (max-width: 768px) {
        figure {
            border-radius: 10px;
            margin: 30px 0;
            overflow: hidden;
            position: relative;
            padding-top: 100%;
            height: 0;
            width: 100%;
        }
        .hero .lang-container {
		display: none;
        }
    }
</style>

<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

    const sswiper = new Swiper(".galleryThumbs", {
        loop: true,
    spaceBetween: 10,
    slidesPerView: 1,
    centeredSlides: true,
    freeMode: true,
    watchSlidesProgress: true,
    breakpoints: {
        768: {
            slidesPerView: 5,
        }
    }
    });
    new Swiper(".galleryMain", {
    loop: true,
    spaceBetween: 10,
    thumbs: {
        swiper: sswiper,
    },
    });
</script>

<script is:inline>
    const articleImgs = document.querySelectorAll('.rte img');
    articleImgs.forEach((img)=> {
        let wrapper = document.createElement('figure');
        img.parentNode.insertBefore(wrapper, img);
        wrapper.appendChild(img);
    });
</script>
